*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

:root{
    --red: #7A1022;
    --light-red: #FE5F62;
    --bright-red: #CA0F2E;
    --green: #218A0A;
    --light-green: #A9F65B;
    --bright-green: #1C813E;
    --pink: #FF80AA;
    --light-pink: #FFB3CC;
    --bright-pink: #FF407F;
    --off-white: #FFFBDC;

    --next-padding: 10px 50px;
    --next-font-size: 15px;
    --next-font-weight: bold;
    --next-radius: 30px;
}

.LetterContainer{
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
}

.letterTitle{
    font-size: 20px;
    padding: 40px;
    text-align: center;
    color: var(--red);
}

.envelope{
    position: relative;
    cursor: pointer;
    margin: 160px 0;
}

.back{
    position: relative;
    width: 250px;
    height: 200px;
    background: var(--red);
}

.front{
    position: absolute;
    border-right: 130px solid var(--bright-red);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 120px;
    z-index: 3;
}
.front::before{
    content: "";
    position: absolute;
    border-left: 130px solid var(--bright-red);
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: -100px;
    left: -120px;
}
.front::after{
    content: "";
    position: absolute;
    border-bottom: 105px solid #e91438;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: -5px;
    left: -120px;
}

.top{
    position: absolute;
    border-top: 105px solid var(--red);
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    transform-origin: top;
    transition: 0.4s;
}

.envelope:hover .top{
    transform: rotateX(160deg);
}

.letter{
    position: absolute;
    background: white;
    width: 230px;
    height: 180px;
    top: 10px;
    left: 10px;
    transition: 0.2s;
}

.envelope:hover .letter{
    transform: translateY(-100px);
    z-index: 2;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.text{
    text-align: center;
    margin: 80px 20px;
    color: var(--red);
    position: relative;
    top: -20px;
}


@keyframes popUp {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

.btnContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.noBtn, .yesBtn {
    padding: var(--next-padding);
    font-size: var(--next-font-size);
    font-weight: var(--next-font-weight);
    border-radius: var(--next-radius);
    border: none;
    cursor: pointer;
    color: var(--red);
    animation: popUp 0.4s ease-out forwards;
}

.noBtn{
    background-color: var(--bright-red);
    transition: all 0.3s ease-in-out;
}
.noBtn:hover{
    background-color: var(--light-red);
}

.yesBtn{
    background-color: var(--green);
    color: var(--off-white);
    transition: all 0.3s ease-in-out;
}
.yesBtn:hover{
    background-color: var(--light-green);
}